<nav>
    <h1>My ToDo App <p class="version">V.2.0.0</p></h1>
</nav>

<style>

    h1{
        color: #ff4000b6;
        background-color: lightgrey;
    }

    .version{
        background-color: darkgray;
    }
</style>