<script>
import { each } from "svelte/internal";


    let todo = '';
    let todos = [];

    const newToDo = () =>{
        todos = [todo, ...todos];
        console.log(todos);
    }


	const keydownHandler = e => {
		if (e.keyCode === 13) {
			newToDo();
			todo = '';
		}
	}

	const removeTodo = index => {
		todos = todos.filter((todo, i) => i !== index);
	}

    const updateToDo = index => {
        var update = prompt("Update ToDo:","");
        todos[index] = update;
    }

</script>

<input type="text" class="ToDoInput" bind:value={todo} on:keydown={keydownHandler}/>

<section class="ToDoContainer">
    {#each todos as todo,i}
        <div class="todo">
            <p>{todo}</p>
            <span on:click={() => updateToDo(i)}>&#9999;</span>
            <span on:click={() => removeTodo(i)}>&times;</span>
        </div>
    {:else}
        <p>Add your first todo</p>
    {/each}
</section>

<style>
    .todo{
        display: flex;

	    align-items: center;
	    padding: 15px;
	    border-bottom: 1px solid #DDD;
    }

    .ToDoInput{
        width: 100%;
	    height: 35px;
	    font-size: 18px;
	    padding: 5px 10px;
    }

    p{
        flex-grow: 1;
        font-size: 18px;
	    font-weight: 300;
    }

    span{
        font-size: 20px;
	    font-weight: 300;
	    color: #AF1E2D;
	    cursor: pointer;
	    user-select: none;
    }
</style>